.yellow-font {
  color: #bfb7a3;
}

.bold-font {
  font-weight: bold;
}

.resized-photo {
  width: 100%;
}

.fa-minus-circle{
  font-size: 20px;
}
.lighter-background {
 background-color: green;
}

.test-container {
  border-style: groove;
  border-color: white;
  border-width: 4px;
}
