.yellow-font {
  color: #bfb7a3;
}

.bold-font {
  font-weight: bold;
}

.resized-photo {
  width: 100%;
}

.fa-minus-circle{
  font-size: 24px;
  transition: 0.2s;
}

.fa-minus-circle:hover {
  color: #ffde8a;
}

.ingredient-h4{
  margin-top: 10px;
}

.lighter-background {
 background-color: #353535;
 border-radius: 4px;
}

.darker-background {
 background-color: #20201f;
 border-radius: 4px;
 border-radius: 4px;
}

.ingredients-form {
  margin-top: 48px;
}

.reviews-div {
  margin: 48px auto 16px auto;
  background-color: #353535;
  color: #bfb7a3;
  border-radius: 4px;
}

.test-container {
  border-style: groove;
  border-color: white;
  border-width: 4px;
}
