.yellow-font {
  color: #bfb7a3;
}

.bold-font {
  font-weight: bold;
}

.resized-photo {
  width: 100%;
}

.fa-minus-circle{
  font-size: 24px;
  transition: 0.2s;
}

.fa-minus-circle:hover {
  color: #ffde8a;
}

.lighter-background {
 background-color: #353535;
 border-radius: 4px;
}

.test-container {
  border-style: groove;
  border-color: white;
  border-width: 4px;
}
