.btn-cocktail {
  background-color: #bfb7a3;
  border-radius: 4px;
  color: #ffffff;
  transition: 0.2s;
}

.btn-cocktail:hover {
  background-color: #d9d2be;
  border-radius: 4px;
  color: #30333c;
}