.cocktail-cards {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(360px, .5fr));
  grid-gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-trip {
  overflow: hidden;
  background: #f0efed;
  box-shadow: 0 0 12px rgba(80,80,80,0.9);
  border-radius: 4px;
  padding-bottom: 16px;
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  padding: 16px 16px 0px 16px;
}

.card-trip h2 {
  font-family: 'PT Serif', 'serif';
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #101010;
}

.card-trip p {
  font-family: 'PT Serif', 'serif';
  font-size: 14px;
  opacity: .85;
  margin: 0;
  color: #101010;
}

.card-trip h6 {
  color: #101010;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #f0efed;
  // position: relative;
}

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
