label {
  color: #bfb7a3 !important;
}

textarea.form-control {
  height: 32px !important;
}

.form-control {
  background-color: #f0efed !important;
}

.select2-container--default .select2-selection--single {
  background-color: #f0efed !important;
}

.review-form {
  text-align:center;
}

.review-form-margin {
  margin-top: 64px;
}

#cocktail_photo {
    color: #bfb7a3 !important;
}

.form-over-banner {
  padding: 32px;
  background-color: rgba(80,80,80,0.75);
  border-radius: 4px;
  margin-top: 160px;
}