<h3>Form to create a new review</h3>

<%= simple_form_for [cocktail, review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :comment %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
